html {
  background: none;
  padding: 0;
}
body {
  color: #000;
}
.rmp-centered-window {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.rmp-background {
  padding: 0 100px 70px 100px;
  position: relative;
}
.rmp-background .rmp-back {
  position: absolute;
  width: 145px;
  height: 145px;
  z-index: 0;
}
.rmp-background .rmp-back.top-left {
  top: 0;
  left: 0;
  background: url("../images/rmplus/rmp-top-left.png") no-repeat;
}
.rmp-background .rmp-back.top-right {
  top: 0;
  right: 0;
  background: url("../images/rmplus/rmp-top-right.png") no-repeat;
}
.rmp-background .rmp-back.bottom-left {
  bottom: 0;
  left: 0;
  background: url("../images/rmplus/rmp-bottom-left.png") no-repeat;
}
.rmp-background .rmp-back.bottom-right {
  bottom: 0;
  right: 0;
  background: url("../images/rmplus/rmp-bottom-right.png") no-repeat;
}
.rmp-centered-window .rmp-line-grad {
  background-image: -webkit-linear-gradient(right, #fd0003, #980094);
  background-image: -moz-linear-gradient(right, #fd0003, #980094);
  background-image: -o-linear-gradient(right, #fd0003, #980094);
  background-image: linear-gradient(to left, #fd0003, #980094);
  padding-top: 5px;
  border-radius: 3px 3px 0 0;
}
.rmp-wrapper {
  position: relative;
  border: 1px solid #ccc;
  border-top: none;
  border-image: none;
  background-color: #FFF;
  box-shadow: 0 5px 5px -6px #000101;
  -webkit-box-shadow: 0 5px 5px -6px #000101;
  -moz-box-shadow: 0 5px 5px -6px #000101;
  word-wrap: break-word;
  padding: 10px;
  z-index: 1;
  min-width: 600px;
}
.rmp-centered-window div.rmp-footer {
  text-align: center;
  color: #9B9B9B;
  font-size: 10px;
}

.rmp-centered-window div.rmp-header {
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  margin-bottom: 5px;
}
.rmp-centered-window .rmp-rmp-place {
  margin-bottom: 40px;
}
.rmp-centered-window div.rmp-header table {
  border-spacing: 0;
  border-collapse: collapse;
}
.rmp-centered-window div.rmp-header table td {
  padding: 0 2px 0 0;
}
.rmp-centered-window div.rmp-header h1 {
  font-size: 18px;
  color: #161616;
  margin: 0;
  font-weight: normal;
  width: 100%;
  box-sizing: border-box;
}
.rmp-centered-window div.rmp-header p {
  font-size: 11px;
  color: #818181;
  margin: 0;
}
.rmp-centered-window div.rmp-header .rmp-logo {
  background: url(../images/logo.png) no-repeat center center;
  width: 50px;
  height: 30px;
  display: inline-block;
  background-size: contain;
}
div.rmp-divider {
  border-top: 1px solid #ccc;
  margin: 10px -10px;
}
.rmp-centered-window a {
  color: #0099CC;
  border-bottom-color: #0099CC;
}
.rmp-centered-window a span {
  border-bottom-color: #0099CC;
}
.rmp-centered-window table {
  border-spacing: 0;
  border-collapse: collapse;
}
.rmp-centered-window table td {
  padding: 3px;
}

.rmp-centered-window .jstEditor textarea {
  width: 100%;
  height: 70px;
  box-sizing: border-box;
}

#errorExplanation, .rmp-centered-window .sd-notice {
  padding: 4px 4px 4px 30px;
  font-size: 1.1em;
  border: 1px solid;
  background: url(../../../images/exclamation.png) 8px 50% no-repeat;
  background-color: #ffe3e3;
  border-color: #dd0000;
  color: #880000;
}
.rmp-centered-window .rmp-notice {
  background: url(../../../images/true.png) 8px 5px no-repeat;
  background-color: #dfffdf;
  border-color: #9fcf9f;
  color: #005f00;
}
#errorExplanation ul { font-size: 0.9em;}
#errorExplanation h2, #errorExplanation p { display: none; }